h1 {
    text-align: center;
}

.test-buttons {
    display: flex;
    text-align: center;
}

.button-container {
    display: inline-block;
    margin: 15px auto;
}

.button-container button {
    margin: 0 15px;
}
