.container {
    display: flex;
    width: 86vw;
    margin: 15px auto;
}

.col {
    width: 50%;
    display: inline-block;
}

#static-area,
#dynamic-area {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: inline-block;
    height: 124px;
    width: 82px;
    background-size: 1200px;
    background-image: url(./images/cards.png);
    border-radius: 8px;
    border: 1px solid gray;
}

.card.back {
    background-image: url(./images/card-back.jpg);
    background-size: 110%;
    background-position: center center;
}

.club {
    background-position-y: 132px;
}

.diamond {
    background-position-y: 266px;
}

.heart {
    background-position-y: 400px;
}

.spade {
    background-position-y: 536px;
}

.king {
    background-position-x: 90px;
}

.queen {
    background-position-x: 182px;
}

.jack {
    background-position-x: 274px;
}

.ten {
    background-position-x: 366px;
}

.nine {
    background-position-x: 458px;
}

.eight {
    background-position-x: 550px;
}

.seven {
    background-position-x: 642px;
}

.six {
    background-position-x: 734px;
}

.five {
    background-position-x: 824px;
}

.four {
    background-position-x: 916px;
}

.three {
    background-position-x: 1008px;
}

.two {
    background-position-x: 1100px;
}

.ace {
    background-position-x: 1192px;
}
