.dot-container {
    align-content: center;
    display: inline-flex;
    justify-content: center;
    width: 75%;
    flex-wrap: wrap;
    /* height: 100px; */
}

.dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
}

ul li:nth-child(odd) .dot {
    border: 2px solid orange;
}

ul li:nth-child(even) .dot {
    border: 2px solid green;
}

ul li:nth-child(1) .dot {
    border: 2px solid purple;
}

ul li:nth-child(2) .dot {
    border: 2px solid blue;
}

ul li:nth-child(3) .dot {
    border: 2px solid hotpink;
}

ul li:nth-child(4) .dot {
    border: 2px solid red;
}

ul li:nth-child(5) .dot {
    border: 2px solid lime;
}

ul li:nth-child(6) .dot {
    border: 2px solid darkgoldenrod;
}
