body {
    height: 875px;
}

h1, 
h2,
body > p,
#forward-loop,
#reverse-loop {
    text-align: center;
}

.container {
    margin: auto;
    padding: 20px;
    width: 90vw;
}

.section-2,
.section-1 {
    display: flex;
}

.col-6 {
    width: 50%;
}

.student-info {
    width: 100%;
}

#student-count,
#student-average {
    font-size: 1.2em;
    font-weight: bold;
}

#numbers,
#game-board {
    height: 500px;
    width: 500px;
    margin: auto;
}

.row {
    display: flex;
    height: 12.5%;
}

.square {
    display: inline-block;
    height: 100%;
    width: 12.5%;
}

.light {
    background-color: #e4bf7f;
}

.dark {
    background-color: #755c30;
}

.number {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 12.5%;
    width: 12.5%;
    border: 2px solid red;
    font-weight: bold;
    font-size: 1.4rem;
}
